!!!
%html
  %head
    %meta{ :charset => "UTF-8" }
    %link{ :rel => "stylesheet", :href => "css/bands.css" }
    %script{ :src => "js/jquery.js"}
    %script{ :src => "http://base2.googlecode.com/svn/version/1.0/base2-p.js" }
    %script= "base2.JavaScript.bind(window);"
    %script{ :src => "timetable.js" }
    %script{ :src => 'http://gandrew.com/mint/?js' }
    %script{ :src => "bandsData.js" }
  %body
    %div#timetable
      - @timetable.days.each do |day|
        %div.day
          %h2= day
    = haml :_analytics
