
body{
  font-size: 10pt;
  font-family: arial;
  color: #333;
} 

#primavera_logo{
  position: fixed;
  left: 0;
  top: 0;
}

#header {
  position: fixed;
  left: 190px;
  top: 0;
  height: 170px;
  background-color: transparent;
  background-image: url('/img/header_background.png');
  background-repeat: repeat-x;
  background-position: bottom;
  z-index: 2;  
  overflow: hidden;
  width: 100%;
}

#bands{
  position: absolute;
  left: 170px;
  top: 160px;
}

#controls{
  width: 300px;
  float: left;
}

#controls .label, .tagcloud .label{
  display: block;
  width: 55px;
  float: left;
}

#controls .options {
  float: left;
  width: 240px;
}

#controls .option{
  padding-right: 10px;
  cursor: pointer;
  white-space: nowrap;
}

#controls .option.selected{
  font-weight: bold;
}

#controls .option.selectedOver{
  font-weight: bold;
}


#controls > div{
 margin-top: 3px;
 overflow: hidden;
}

.tagcloud{
  margin-top: 5px;
}


.tagcloud{
  width: 600px;
  float: left;
}

#tagcloud{
  width: 545px;
  float: left;
}

#tagcloud .tag{
  white-space: nowrap;
}


h1{
  font-family: arial;
  font-size: 14pt;
  font-weight: normal;
  margin-bottom: 10px;
  
}

#bands{
  margin: 0;
  margin-top: 20px;
  padding: 0;
  overflow: hidden;
}

ul.column{
  float: left;
  margin: 0;
  padding: 0;
}

li.band.unselected{
  display: none;
}

li.band{
  list-style: none;
  padding-top: 30px;
  height: 300px;
  overflow: hidden;
  margin-left: 20px;
  width: 595px;
}

li.band .name{
  display: block;
  width: 100%;
  background-color: #aaa;
  font-size: 11pt;
  line-height: 13pt;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #000;
  cursor: pointer;
}

li.band img{
  display: block;
  float: left;
  padding-left: 5px;
  padding-top: 20px;
}

li.band .info{
  display: block;
  width: 430px;
  float: left;
  padding-left: 20px;
}

.stats {
  margin-bottom: 10px;
  font-size: 9pt;
}

li.band .timetable{
  font-size: 9pt;
}

li.band .timetable .label{
  display: block;
  clear: left;
  float: left;
  width: 100px;
}

li.band .timetable .stage, li.band .timetable .day, li.band .timetable .time{
  float: left;
  width: 150px;
}

li.band .bio{
  display: block;
  clear: left;
  padding-top: 10px;
}


#tagcloud .tag{
  margin-right: 10px;
  color: #000;
  padding-left: 2px;
  padding-right: 2px;
  text-decoration: none;
}

#tagcloud .tag.size0{
  font-size: 11pt;
  color: #000;
}

#tagcloud .tag.size1{
  font-size: 10.5pt;
  color: #181818;
}

#tagcloud .tag.size2{
  font-size: 10pt;
  color: #303030;
}

#tagcloud .tag.size3{
  font-size: 9.5pt;
  color: #484848;
}

#tagcloud .tag.size4{
  font-size: 9pt;
  color: #606060;
}

#tagcloud .tag.size5{
  font-size: 8.5pt;
  color: #888888;
}


#tagcloud .tag.size6{
  font-size: 8pt;
  color: #909090;
}


#bands li.band .tags{
  font-size: 9pt;
  margin-bottom: 10px;
}

#bands li.band .tags .label{
  font-size: 9px;
}
#bands li.band .tags .tag{
  padding-right: 5px;
  text-decoration: underline;
}

#bands.list li.band{
  padding-top: 5px;
  height: auto;
}

#bands.list li.band .info{
  display: none;
}
#bands.list li.band img{
  display: none;
}

#bands.compact li.band{
  padding-top: 5px;
  height: auto;
  width: 285px;
}

#bands.compact li .name{
  height: 18px;
  overflow: hidden;
}

#bands.compact li.band .info{
  display: none;
}
#bands.compact li.band img{
  display: none;
}

#bands.list li.band.expand{
  height: 300px;
}

#bands.list li.band.expand .info{
  display: block;
}

#bands.list li.band.expand img{
  display: block;
}

#bands.compact li.band.expand{
  padding-top: 5px;
  height: auto;
  padding-bottom: 10px;
}

#bands.compact li.band.expand .name{
  height: 18px;
  overflow: hidden;
}

#bands.compact li.band.expand .info{
  display: block;
  float: none;
  width: 260px;
}
#bands.compact li.band.expand img{
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 5px;
}

#bands li.band.selected .name, #bands li.band.selectedOver .name{
  background-color: #000;
  color: #fff;
}

#tagcloud .tag:hover, #tagcloud .tag.selected{
  background-color: #000;
  color: #fff;
}



