
body{

}

div#times{
  display: none;
  position: fixed;
  z-index: 2;
  left: 300px;
  top: 0px;
  height: 50px;
  width: 7450px;
}

div#times .time{
  float: left;
  background-color: #ffccdd;
  width: 290px;
  margin-left: 10px;
}

div#timetable{
  width: 12000px;
}

ul.timetable {
  width: 300px;
  float: left;
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
  overflow: hidden;
}

li.filler {
  display: none;
}

li.entry{
  border: 1px solid #ccc;
  height: 100px;
  width: 300px;
  list-style: none;
  overflow: hidden;
}

li.entry .name{
  height: 18px;
  display: block;
  width: 100%;
  background-color: #aaa;
  font-size: 11pt;
  line-height: 13pt;
  margin: 0;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #000;
  cursor: pointer;
}

li.entry .info{
  display: none;
}
li.entry img{
  display: none;
}

h2.day{
  margin: 0; 
  height: 20px;
  font-size: 13pt;
  padding: 0px;
  width: 300px;
}

h3.stage {
  width: 285px;
  height: 18px;
  font-size: 11pt;
  line-height: 13pt;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #ffffff;
  background-color: #000000;
}


div.day{
  float: left;
  overflow: hidden;
}

div.stage{
  float: left;
  overflow: hidden;
}

li.entry.expand .info{
  display: block;
}
