
body{
  font-size: 10pt;
  font-family: arial;
  color: #333;
}

#primavera_logo{
  position: fixed;
  left: 0;
  top: 0;
}

#header {
  position: fixed;
  left: 190px;
  top: 0;
  height: 235px;
  background-color: transparent;
  background-image: url('../img/header_background-235.png');
  background-repeat: repeat-x;
  background-position: bottom;
  z-index: 2;  
  overflow: hidden;
  width: 100%;
}

#controls{
  width: 300px;
  float: left;
}

#controls .option{
  padding-right: 10px;
  cursor: pointer;
  white-space: nowrap;
}

#daySelector{
  width: 600px;
}

div#times{
  display: none;
  position: fixed;
  z-index: 2;
  left: 300px;
  top: 0px;
  height: 50px;
}

div#times .time{
  float: left;
  background-color: #ffccdd;
  width: 290px;
  margin-left: 10px;
}

div#timetable_header{
  position: fixed;
  top: 170px;
  left: 190px;
}

div#timetable{
  overflow: hidden;
  margin-top: 220px;
  margin-left: 190px;
}

ul.timetable {
  width: 160px;
  float: left;
  margin: 0px;
  margin-top: 5px;
  padding: 0px;
  margin-right: 5px;
  overflow: hidden;
}

li.filler {
  width: 300px;
  list-style: none;
  background-color: #eeffcc;
}

li.entry{
  height: 100px;
  list-style: none;
  background-color: #ddffbb;
  border: 1px solid #fff;
  overflow: none;
}

li.entry .name{
  display: block;
  font-size: 11pt;
  color: #000;
  cursor: pointer;
}

li.entry .info{
  display: none;
}
li.entry img{
  display: none;
}

h2.day{
  position: fixed;
  top: 160px;
  margin: 0; 
  font-size: 13pt;
  padding: 0px;
  z-index: 3;
  text-align: center;
  width: 300px;
}

span.day_link{
  font-family: "Times New Roman", times, serif;
  font-size: 16pt;
}

h2.day span.day_link.next{
  position: absolute;
  right: 0;
}

h2.day span.day_link.prev{
  position: absolute;
  left: 0;
}



h3.stage {
  position: fixed;
  top: 190px;
  width: 150px;
  height: 18px;
  font-size: 11pt;
  line-height: 13pt;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #ffffff;
  background-color: #6688e0;
  z-index: 3;
}


div.day{
  float: left;
  overflow: hidden;
  display: none;
}

div.day.selected{
  display: block;
}

div.stage{
  float: left;
  overflow: hidden;
}

li.entry.expand .info{
  display: block;
}
