
body{
  font-size: 10pt;
  font-family: arial;
  color: #333;
}

h1{
  font-family: arial;
  font-size: 14pt;
  font-weight: normal;
  margin-bottom: 10px;
}

#primavera_logo{
  position: fixed;
  left: 0;
  top: 0;
}

#header {
  position: fixed;
  left: 190px;
  top: 0;
  height: 205px;
  background-color: transparent;
  background-image: url('../img/header_background-235.png');
  background-repeat: repeat-x;
  background-position: bottom;
  z-index: 3;  
  overflow: hidden;
  width: 100%;
}

#controls{
  width: 300px;
  float: left;
}

#controls .option{
  padding-right: 10px;
  cursor: pointer;
  white-space: nowrap;
}

#daySelector{
  width: 600px;
}

div#times{
  display: none;
  position: fixed;
  z-index: 2;
  left: 300px;
  top: 0px;
  height: 50px;
}

div#times .time{
  float: left;
  background-color: #ffccdd;
  width: 290px;
  margin-left: 10px;
}

div#timetable{
  overflow: hidden;
  margin-top: 190px;
  margin-left: 190px;
}

ul.timetable {
  width: 160px;
  float: left;
  margin: 0px;
  margin-top: 5px;
  padding: 0px;
  margin-right: 5px;
  overflow: visible;
  z-index: 1;
}

li.filler {
  width: 158px;
  list-style: none;
  background-color: #eeffcc;
  border: 1px solid #fff;
}

li.entry{
  height: 100px;
  list-style: none;
  background-color: #ddffbb;
  border: 1px solid #fff;
  overflow: visible;
  padding-left: 2px;
}

li.entry .name{
  display: block;
  font-size: 11pt;
  color: #000;
  cursor: pointer;
}

li.entry .info{
  display: none;
}
li.entry img{
  display: none;
}

h2.day{
  position: fixed;
  top: 130px;
  margin: 0; 
  font-size: 13pt;
  padding: 0px;
  z-index: 3;
  text-align: center;
  width: 300px;
  font-family: arial;
  font-weight: normal;
  margin-bottom: 10px;
}

span.day_link{
  font-family: arial;
  font-size: 16pt;
  cursor: pointer;
  margin-top: -4px;
}

h2.day span.day_link.next{
  position: absolute;
  right: 0;
}

h2.day span.day_link.prev{
  position: absolute;
  left: 0;
}



h3.stage {
  position: fixed;
  top: 160px;
  width: 150px;
  height: 18px;
  font-size: 11pt;
  line-height: 13pt;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #ffffff;
  background-color: #6688e0;
  z-index: 3;
  overflow: hidden;
}


div.day{
  float: left;
  overflow: visible;
  display: none;
}

div.day.selected{
  display: block;
}

div.stage{
  float: left;
  overflow: visible;
}

li.entry.expand{
  overflow: visible;
}

li.entry.expand .name{
	width: 370px;
	background-color: #fff;
	font-size: 14pt;
	z-index: 2;
	position: relative;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
  padding-right: 10px;
}

li.entry.expand .info{
  display: block;
  width: 370px;
  background-color: #ffffff;
  height: auto;
  z-index: 2;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

li.entry.expand .info .stats{
	font-size: 9pt;
	margin-bottom: 0.5em;
}

li.entry.expand .info .tags{
	font-size: 9pt;
	margin-bottom: 0.5em;
}

li.entry.expand .info .tags .tag{
	text-decoration: underline;
}

li.entry.expand .info .timetable{
	display: none;
}

li.entry.expand .info .bio{
  clear: left;
  font-size: 10pt;
	padding-top: 0.5em;
	padding-bottom: 2em;
}
